@import "../../../assets/styles/mixins";

.auth__inputs{
    width: 574px;
    background-color: var(--Dark);
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    &_header{
        @include fontStyle(600,24px,36px);
        color: var(--TextColorWhite);
        margin-bottom: 30px;
    }
    &_field{
        margin-bottom: 20px;
    }
    &_button{
        background-color: var(--Primary);
        border-radius: 10px;
        width: 100%;
        padding: 16px 0;
        color: var(--TextColorWhite);
        margin-top: 32px;
        @include fontStyle(600,16px,24px);
        &:hover{
            background-color: var(--PrimaryLight);
        }
    }
    &_signup{
        display: flex;
        justify-content: center;
        align-items: center;
        @include fontStyle(500,16px,24px);
        color: var(--Navigation);
        margin-top: 32px;
    }
    &_link{
        @include fontStyle(500,16px,24px);
        color: var(--Primary);
        margin-left: 5px; // Добавление пробела между текстом и ссылкой
        &:hover{
            color: var(--PrimaryLight);
        }
    }
}


@media (max-width: (640px)) {
    .auth__inputs{
        width: 374px;
    }
}

@media (max-width: (340px)) {
    .auth__inputs{
        width: 290px;
        &_signup{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &_link{
            margin-left: 0; // Добавление пробела между текстом и ссылкой
        }
    }
}