@import "../../../../shared/assets/styles/mixins";

.auth__inputs{
    width: 574px;
    background-color: var(--Dark);
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    &_text {
        margin-bottom: 40px;
        @include fontStyle();
        color: var(--TextColorWhite);
    }
    &_error {
        margin-bottom: 40px;
        @include fontStyle();
        color: var(--Error);
    }
    &_header{
        @include fontStyle(600,24px,36px);
        color: var(--TextColorWhite);
        margin-bottom: 40px;
    }
    &_field{
        margin-bottom: 24px;
    }
    &_button{
        background-color: var(--Primary);
        border-radius: 10px;
        width: 100%;
        padding: 16px 0;
        color: var(--TextColorWhite);
        margin-top: 16px;
        @include fontStyle(600,16px,24px);
        &:hover{
            background-color: var(--PrimaryLight);
        }
    }
}

@media (max-width: (640px)) {
    .auth__inputs{
        width: 374px;
    }
}

@media (max-width: (340px)) {
    .auth__inputs{
        width: 290px;
    }
}