@import "../../../assets/styles/mixins";

.auth__inputs{
    width: 574px;
    background-color: var(--Dark);
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    &_text {
        margin-bottom: 40px;
        @include fontStyle();
        color: var(--TextColorWhite);
    }
    &_header{
        @include fontStyle(600,24px,36px);
        color: var(--TextColorWhite);
        margin-bottom: 40px;
    }
    &_field{
        &_email{
            margin-bottom: 24px;
        }
        &_password{
            margin-bottom: 8px;
        }
    }
    &_forgot{
        @include fontStyle(500,14px,24px);
        color: var(--Navigation);
        margin-bottom: 40px;
        &:hover{
            color: var(--Primary);
        }
    }
    &_button{
        background-color: var(--Primary);
        border-radius: 10px;
        width: 100%;
        padding: 16px 0;
        color: var(--TextColorWhite);
        @include fontStyle(600,16px,24px);
        &:hover{
            background-color: var(--PrimaryLight);
        }
    }
    &_signup{
        display: flex;
        justify-content: center;
        align-items: center;
        @include fontStyle(500,16px,24px);
        color: var(--Navigation);
        margin-top: 32px;
    }
    &_link{
        @include fontStyle(500,16px,24px);
        color: var(--Primary);
        margin-left: 5px; // Добавление пробела между текстом и ссылкой
        &:hover{
            color: var(--PrimaryLight);
        }
    }
}