@import "../../shared/assets/styles/mixins";

.recommendations__card {
    max-width: 100%;
    height: 340px;
    padding: 5px;
    flex: 0 0 25%; 
    @media (max-width: (1560px)) {
        flex: 0 0 33.3%; 
    }
    @media (max-width: (1280px)) {
        flex: 0 0 25%;  
    }
    @media (max-width: (1084px)) {
        flex: 0 0 33.3%; 
    }
    @media (max-width: (930px)) {
        flex: 0 0 50%; 
    }
    @media (max-width: (768px)) {
        flex: 0 0 50%; 
    }
    @media (max-width: (460px)) {
        flex: 0 0 100%; 
    }
} 













