@import "../../assets/styles/mixins";

.auth{
    background-image: url('../../assets/images/AuthBg.png');
    background-size: cover;
    position: relative;
    height: 100vh;
    &__logo{
        position: absolute;
        top: 0;
        left: 0;
        margin-left:62px;
        margin-top: 48px;
    }
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    &__footer{
        @include fontStyle();
        color: var(--TextColorWhite);
        position: absolute;
        bottom: 0;
        margin-bottom: 64px;
    }
}

@media (max-width: (640px)) {
    .auth__inputs{
        width: 374px;
    }
}

@media (max-width: (340px)) {
    .auth__inputs{
        width: 290px;
        &_signup{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &_link{
            margin-left: 0; // Добавление пробела между текстом и ссылкой
        }
    }
}