@import "../../../assets/styles/mixins";
    .selector{
        display: flex;
        flex-direction: column;
        gap: 8px;

        &__label {
            @include fontStyle(600,16px,24px);
            color: var(--TextColorWhite);
        }
        &__select {
            -webkit-appearance: none;
            -moz-appearance: none;
            flex:1;
            border-radius: 10px;
            background-color: var(--Graphite);
            background-image: url("../../../assets/svg/ArrowDown.svg");
            background-repeat: no-repeat;
            background-position-x: calc(100% - 16px);
            background-position-y: 50%;
            @include fontStyle();
            cursor: pointer;
            padding: 16px 20px;  
            color:  var(--TextColorLight); 
            transition: background-color 0.3s;

            &:focus {
                outline: none;
                border: none;
            }
        }
    }

    @include mobile {
        .selector{
            gap: 4px;
            &__select {   
                padding: 12px 14px;  
            }
        }
    } 