:root {
  // base
  --font-family: "Exo-2", sans-serif;
  // colors
  --BackgroundColor:linear-gradient(115deg, rgb(0, 0, 0) 5.8%, rgb(73, 6, 70) 112.6%); 
  --SidebarBackgroundColor: linear-gradient(179.4deg, rgb(29, 2, 27) -16.9%, #242426 119.9%); 
  --Graphite: #323537;
  --Search: #323537;
  --Dark: #242426;
  --Primary: #7B61FF;
  --PrimaryLight: #917CFF;
  --TextColorWhite:#FFFFFF;
  --TextColorLight:#AFB2B6;
  --Navigation: #80858B;
  --Error:#FF5154;
  --TextColor: #FFFFFF;
  --MaskColor:linear-gradient(to top, rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0.8) 80%,  rgba(0, 0, 0, 0.2) 85%,rgba(0, 0, 0, 0) 90%);
  --RatingGreen:#00A340;
  --RatingYellow:#F3A608;
  --RatingOrange:#F45D2D;
}

//linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
//radial-gradient(circle at 10% 20%, rgb(255, 19, 120) 0%, rgb(0, 0, 0) 90.5%);
//linear-gradient(115deg, rgb(0, 0, 0) 5.8%, rgb(73, 6, 70) 112.6%); 
//linear-gradient(115deg, rgb(0, 0, 0) 5.8%, rgb(178, 14, 14) 112.6%); 
//linear-gradient(135.8deg, rgb(26, 26, 29) 27.1%, rgb(111, 34, 50) 77.5%); 
//linear-gradient(179.4deg, rgb(12, 20, 69) -16.9%, rgb(71, 30, 84) 119.9%); 
//linear-gradient(109.6deg, rgb(6, 2, 2) 32.4%, rgb(137, 30, 47) 98.8%); 


//linear-gradient(115deg, rgb(0, 0, 0) 5.8%, rgb(73, 6, 70) 112.6%);