@import "../../../assets/styles/mixins";

.content__section { 
    display: flex;
    flex-direction: column;
    padding-left: 64px;
    padding-right: 64px;
    overflow: hidden;
    background-color: var(--BackgroundColor);
    transition: all 0.4s ease; 
    &_lower {
        margin-top: 162px;
        display: flex;
        width: 100%;
        gap: 40px;
        
        &_content {
            flex:1;
            margin-left: 368px;
        }
        @include for-desktop {
            &_content {
                margin-left: 0;
            }
        }
    }
 
}
