@import "../../../assets/styles/mixins";
.container{
    background: var(--BackgroundColor);
}
.content__section { 
    display: flex;
    flex-direction: column;
    padding-left: 64px;
    padding-right: 64px;
    overflow-y: scroll;
    scrollbar-width: none; 
    height: 100vh;
    background: var(--BackgroundColor);
    mask-image: var(--MaskColor); 
    transition: all 0.4s ease; 
    &::-webkit-scrollbar{
        display: none;
    }
    &_lower {
        margin-top: 162px;
        display: flex;
        width: 100%;
        gap: 40px;
       
        &_content {
            flex:1;
            margin-left: 368px;
        }
        @include for-desktop {
            &_content {
                margin-left: 0;
            }
        }
    }
 
}
