@import "../../assets/styles/mixins";

.tag{
    display: flex;
    flex-direction: column;
    gap:8px;
    &__content {
        display: flex;
        flex-wrap:wrap;
        align-items: center;
        background-color: var(--Graphite);
        border: 16px solid var(--Graphite);
        border-radius: 10px;
        gap:12px;
        max-width: 518px;
        @include fontStyle();
        color: var(--TextColorWhite);
        max-height: 100px;
        overflow-y: auto;
    }
    &__input {
        padding: 0 12px;
        border: none;
        background-color: transparent;
        outline: none;  
        @include fontStyle();
        color: var(--TextColorWhite);   
        flex-wrap: wrap;
        max-width: 39%;
    }
    &__label{
        @include fontStyle(600, 16px, 24px);
    }
}

@include mobile {
    .tag{
        gap:4px;
        &__content {   
            gap:12px;
            border: 12px solid var(--Graphite);
        }
        &__input {
            padding: 0 10px;
        }
    }
} 