:root {
    --sliderWidth: 32px; 
    --sliderHeight: 20px; 
    --thumbSize: 16px; 
    --thumbOffset: 2px;
}

.toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--sliderWidth); 
    height: var(--sliderHeight); 
    
    &__checkbox {
        opacity: 0; 
        width: 0;
        height: 0;
    }

    &__label {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        background-color: var(--TextColorLight);
        border-radius: 20px; 
        transition: background-color 0.3s ease; 
        position: relative;

    }

    &__slider {
      
        width: var(--thumbSize); 
        height: var(--thumbSize); 
        background-color: var(--TextColorWhite); 
        border-radius: 50%; 
        transition: transform 0.3s ease;
        transform: translateX( -7px);

    }
}
 
  
  // Стили для темной темы
  .toggle__checkbox:checked + .toggle__label {
    background-color: var(--Primary); 
  }
  
  .toggle__checkbox:checked + .toggle__label .toggle__slider {
    transform: translateX(6px); 
  }