@import "../../../assets/styles/mixins";

.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 328px;
  height: 75%;
  color: var(--Navigation);
  position:fixed;
  overflow: hidden;
  &.open {
    right: 0;
  } 
  &__close{
    display: none;;
  }
  &__menu {
    flex-grow: 1; 
    ul {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
    &_link {
      @include fontStyle(600, 18px, 24px);
      display: flex;
      align-items: center;
      gap: 20px;
      color: var(--Navigation);
      cursor: pointer;
      &:hover {
        transition: 0.75s;
        color: var(--Primary);
        .icon * {
          transition: 0.75s;
          fill: var(--Primary);
        }
      }
    }
    .active {
      color: var(--Primary);
      .icon * {
        fill: var(--Primary);
      }
    }
  }

  .footer {
    text-align: center;
    @include fontStyle();
    position: absolute;
    bottom: 0;
    left: 0;
  }

}


@include for-desktop {
  .sidebar {
    height: 100vh;
    &__close{
      
      display: flex;
      position: absolute;
      top:0;
      right: 0;
      margin-top: 15px;
      margin-right: 15px;
      color: var(--TextColorLight);
      font-size: 24px;
      cursor: pointer;

      &:hover {
        color: var(--Primary);
      }
    }
  }
}

