@import "../../../assets/styles/mixins";

input[type=number]{
    -moz-appearance: textfield;
}
input{
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button{
        -webkit-appearance: none;
        margin: 0;
    }
}

.double{
    display: flex;
    flex-direction: column;
    gap: 8px;
    &__label{
        @include fontStyle(600,16px,24px);
    }
    &__fields{
        display: flex;
        justify-content: space-between;
        @include fontStyle();
        color:var(--Navigation);
        gap: 40px;
    }
} 

@include mobile {
    .double{
        gap: 4px;
        &__fields{
            gap: 20px;         
            &_input {
                width: 124px;
            }
        }
    }  
} 

