:root {
  // base
  --font-family: "Exo-2", sans-serif;
  // colors
  --BackgroundColor: #000000;
  --Graphite: #323537;
  --Search: #323537;
  --Dark: #242426;
  --Primary: #7B61FF;
  --PrimaryLight: #917CFF;
  --TextColorWhite:#FFFFFF;
  --TextColorLight:#AFB2B6;
  --Navigation: #80858B;
  --Error:#FF5154;
  --RatingGreen:#00A340;
  --RatingYellow:#F3A608;
  --RatingOrange:#F45D2D;
}
